<h1>New photo</h1>

<%= render "form", photos: @photos %>

<div class="grid">
    <% @photos.each do |photo|%>
    <div class="pic">
        <img src="<%= Flickr.url_n(photo)%>">
    </div>
    <% end %>
</div>